################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/King Price Assessment/.vs/King Price Assessment/DesignTimeBuild/.dtbcache.v2
