@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row table-toolbar">
        <div class="d-flex justify-content-between mt-3 g-0">
            <h3>Users</h3>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal" onclick="setModal('add')">
                <span class="material-symbols-outlined mt-1" >Add</span>
            </button>           
        </div>
       
    </div>
    <div class="row table-content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Groups</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal" onclick="setModal('edit')">
                            <span class="material-symbols-outlined mt-1">edit</span>
                        </button>                
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalDelete" id="deleteBtn"">
                            <span class="material-symbols-outlined mt-1">delete</span>
                        </button>                 
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                    </td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                    </td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<!-- Add/Edit Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="d-flex flex-column">
                            <div>
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                            <div>
                                <label for="surname" class="form-label">Surname</label>
                                <input type="text" class="form-control" id="surname" placeholder="Surname">
                            </div>
                           
                        </div>
                       
                    </div>
                    <div class="col">
                        <label for="groups" class="form-label">Groups</label>
                        <select class="form-select" multiple aria-label="Multiple select example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnLabel" data-bs-dismiss="modal">Add User</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>Are you sure you wanrt to delete this user?</p>
            </div>
            <div class="modal-footer d-flex justify-content-between">              
                <button type="button" class="btn btn-outline-primary mr-2" data-bs-dismiss="modal">No, they can stay.</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Yes, Delete them.</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#modal').on('shown.bs.modal', function (e) {
        $('#myInput').trigger('focus');
    })

    $('#modalDelete').on('shown.bs.modal', function (e) {
        console.log("here");
        $('#myInput').trigger('focus');
    })

    function setModal(trigger){
        if (trigger === "add") {
            $("#modalLabel").html("Add User");
            $("#btnLabel").html("Add User");
        } else if (trigger === "edit") {
            $("#modalLabel").html("Edit User");
            $("#btnLabel").html("Confirm");
        }
    }
</script>

