html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1d1e24;
    color: white;
    text-align: center;
}

.table-toolbar {
    width: 100%;
    height: 7vh;
    padding-left: 0px;
}

.table-content {
    height: 60vh;
    overflow-y: auto;
}

.group-table-content{
    height: 30vh;
    overflow-y: auto;
}

.table > thead {
    vertical-align: bottom;
    position: sticky;
    top: 0;
    background: #e9ecef;
    color: #000;
}

.table > tbody {
    vertical-align: middle;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #1d1e24;
}

.table-button {
    padding: 0px 5px 0px 5px;
}

